type apk_logfs, domain;
type apk_logfs_exec, exec_type, file_type;

init_daemon_domain(apk_logfs)

allow apk_logfs system_file:file rx_file_perms;
allow apk_logfs self:capability dac_override;
allow apk_logfs system_data_file:dir { create setattr add_name remove_name rmdir rename open read write };
allow apk_logfs system_data_file:file { create setattr append write link unlink rename open read write };
allow apk_logfs self:capability2 syslog;
allow apk_logfs kernel:process setsched;
