allow init_shell block_device:blk_file rw_file_perms;
allow init_shell labeledfs:filesystem remount;
allow init_shell kernel:process setsched;
allow init_shell system_file:dir { write add_name };
allow init_shell system_file:lnk_file create;
allow init_shell self:capability sys_module;
allow init_shell system_prop:property_service set; 
