allow lbsd system_file:file rx_file_perms;
allow lbsd init:unix_stream_socket { read write };
allow lbsd shell_exec:file { read };
allow lbsd self:capability dac_override;
allow lbsd system_data_file:dir { create rw_dir_perms };
allow lbsd system_data_file:file { create write open append };
allow lbsd system_data_file:sock_file { write };
allow lbsd rpc-daemon:unix_stream_socket { connectto };
allow lbsd init:unix_stream_socket { listen };
allow lbsd fm_device:chr_file rw_file_perms;
allow lbsd gps_device:chr_file rw_file_perms;
