allow mediaserver system_server:unix_stream_socket { read write };
allow mediaserver self:netlink_kobject_uevent_socket create_socket_perms;
allow mediaserver system_prop:property_service set;
allow mediaserver default_prop:property_service set;
allow mediaserver video_device:chr_file rw_file_perms;
allow mediaserver rga_device:chr_file rw_file_perms;
allow mediaserver camdata_file:dir create_dir_perms;
allow mediaserver camdata_file:file create_file_perms;
allow mediaserver untrusted_app:dir search;
allow mediaserver untrusted_app:file { open read };
#allow mediaserver unlabeled:dir { read write };
#allow mediaserver unlabeled:file { read open getattr write };
allow mediaserver system_data_file:dir { create setattr add_name remove_name rmdir rename read write open };
allow mediaserver system_data_file:file { create setattr append write link unlink rename read open };
allow mediaserver system_data_file:sock_file write;
allow mediaserver rpc-daemon:unix_stream_socket { connectto };
allow mediaserver nvm_fs_partition_file:dir { read write };
allow mediaserver nvm_fs_partition_file:file { read open getattr write };
allow mediaserver radio_device:chr_file rw_file_perms; 
