allow servicemanager init:dir search;
allow servicemanager init:file { read open };
allow servicemanager init:process getattr;
allow servicemanager pekallfmrserver:dir { search };
allow servicemanager pekallfmrserver:file { read open };
allow servicemanager pekallfmrserver:process { getattr };
